// compress: true

@import 'vars';
h1,h2,h3,h4{
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;    
    font-size: 15px;
} 
*,
*:before,
*:after {
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1000px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}
.intro{
    margin-top: 10rem;
    
}
.intro__inner{
    display: flex;
    border-bottom: 1px solid fade(@grey, 30%);
}
.intro__content{ 
    padding-left: 1rem;
    padding-top: 2rem;
    width: 50%;
}
.intro__photo{

}
.intro__photo img{
    width: 260px;
    border-radius: 100%;
    
}
.intro__name{
    font-size: 2rem;
    color: @blue;
}
.intro__text{
    font-size: 1.2rem;
    color: @grey;
}

// footer + Social buttons
footer{
    bottom: 0;
}
footer .middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
.btn{
    display: inline-block;
    width: 3.7rem;
    height: 3.7rem;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: @blue;
    overflow: hidden;
    position: relative;
  }
.btn i{
    line-height: 3.7rem;
    font-size: 26px;
    transition: 0.2s linear;
  }
.btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
  }
.btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background:@blue;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
.btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
@keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
}
// Social buttons end